.wrapper {
text-align: center;
}

#counterContainer
{
  display: inline-block;
  width: 100%;
	background:#f2f2f2;
}
.count
{
  line-height: 100px;
  color:#999;
  font-size:100px;
  font-family: sans-serif;
}
#talkbubble {
   width: 120px;
   height: 80px;
   background: red;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
  float:left;
  margin:20px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid red;
   border-bottom: 13px solid transparent;
}

.linker
{
  font-size : 20px;
  font-color: black;
}
